/* i am talking about this class modalRight */
.modalRight{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width:700px;
    height:500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-image: url("../images/sale.jpg");
    
    
}
.closeBtn{
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}
.content{
    color:azure;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin:60% 0% 20% 0%; */
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    align-items: center;
    position:fixed;
    padding-bottom: 20px;
    /* transform:translate(-50%, -50%); check again 
    teh button from the blue section has an arrow and it;s not centered */
}
.modalBtn{
    position:fixed;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:-1;
    padding:12px 24px;
}
.overlay{
    position:fixed;
    background-color: rgba(0,0,0,0.5); 
    /* 
    one moment, the modal that si now on, which one is the class for it? overlay but when it 
    was on gray it was smaller. I think I woudl leave it as you made it with gray background cut a 
    bit more padding

    yes, it;s good more padding and the X on the right corner. I will be one minute
    only padding remaining and it's not fixed  we cannot fix it to look nice? yes we can but the whole modal would change  that is fine
    */
    /* background-color:rgba(228, 241, 254,0.5); */
    width: 100%;
    height:100%;
}