.Zoom-images {

    /* height: 22vh;
    width: 100wv; */
}

.text {
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;

}

.images-section {
    display: flex;
    height: auto;
    width: 100wv;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 10px;



}

.card {
    width: 400px;
    height: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card:hover {

    scale: .7;

    box-shadow: 20px 20px 30px;
    border-radius: 15px;



}

.card-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    background-size: cover;
    border-radius: 15px;


}

/* are you there yes, I am not in  a call for now.. can you check the technology page .. is it fine or not? no idea, I will check now.. It has not been created.. not in code in browser😂 :)) one sec
there isn't any
The three images are not at the same level and the wrigting is not centered i fixed that point .. do want 
the same size as card on hover, no, different sizes in hover the the card is gone to small .is It ok
can we do meeting in mI will tell you what else I need , the footer to be at distance of the section 
from above and the section with the blue color on the background to be centred and the button 
from the blue section to be aligned with the wrighting  and let me know if it is alright the way
I have put the home page in the app.js and added all of the other pages on the home.js

and there is some space underneath the footer and I don't think it should be there, I mean 10px  
it's alright but  how it is now is too much and I don't know why is there

adina check the footer and other stuff that you said. one mom one second .. now check
it is alright  and I need some space in between the blue space and the footer mean more padding in blue background top & and bottom?
I need some white in beween them like the white to separate themokay.. it's good or i'll add more space .and can the footer les higher with 30 px can i increase more? decrease .. check one moment

Thanks, and the modal is not showing the image that it was suposed to in modal there is no class for that image
you can use the blue color from the section above the footer as background .. i didn't understand. can you explain
sure, one moment


you can use this color as background background-color:rgba(228, 241, 254); for the modal as the image is not working
actually adina this class modalRight is not in modal.js .. understood? check the modal.js file
check the modal  we will need to center the top text check it;s gereat what do you think of the website, 
is it good for a react portofolio? well for practice .it's good but for the portfolio you need to develop more good.
what do you think I should do next to develop a bit more? yes .. your css is weak and in reactjs
 there is multiple framework for css like bootstrap, tailwindcss ,scss etc and also materail ui for frontend the modal
 that you make is much easier if you install material ui package.. also knowledge of packages like .. explore material ui how to used that and how to make components 
 well did you bachelor in computer Science???are you there I did not study computing I am doing this on my own I told you already
 sorry i forget :)) no worries explore more library as well .. I need to get a job with it and need to work on portofolio
 I don't want to spend time studying, I will keep studying when I get the job, thsi is why I was asking 
 what shoudl I do next for porofolio.. make an ecommerce website with the database that get product add, and delete that
 user can sign and add product into cart and then checkout no static data .. only dynamic data.because html and css
 if for designing but for functionality you need to learn how to get data  like api you meanye no worries, I will start
 doing that, thanks a lot, i will just need to adapt this one for mobile as well and make an eccomerce one :) great.
 now i'm leaving cuz i have to do some other stuff. have a great day:)) sure, you too, tahnks a lot :))
*/
.card a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 2em;
    color: black;

}

h2 {
    cursor: pointer;
    display: flex;
    text-align: center;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
}

.card button {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.headphones {
    background-image: url('../images/headphones.jpg');
}

.tablet {
    background-image: url('../images/tablet2.jpg');
}

.watch {
    background-image: url('../images/watch.jpg');
}

@media screen and (max-width:768px) {
    .Zoom-images {
        display: flex;
        flex-direction: column;


    }

    .text {
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
        color: bisque;


    }

    .text h2 {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .images-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: fit-content;

    }

    .card {
        width: 300px;
        height: 300px;
    }
}