*{
    margin:0;
    padding: 0;
}
.about-container{
    display:flex;
    align-items: center;
    justify-content: center;
     color:var(--mid_gray);
     gap:8rem;
     margin-top: 10%;
}
.social-media{
flex:2;
display:flex;
}
.about-section{
display: flex;
flex:2;
flex-direction: column;
margin-left:20%;
padding: 30px;

}


h2{
    border-bottom:var(--pink) 8px solid;
    padding: 10px;
    font-size: 60px;
    letter-spacing: 1px;
   
  }
  .title{
    display:flex;
    align-items: center;
    justify-content: center;
    
  }
  .about-content{
    display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: space-around;
    
    
  }
  .content-l{
padding: 10px;
display:flex;
 
  }
  .content-r{
    padding: 10px;
    
    
  }
  .content-l>p{
    width:100%;
    font-size: 60px;
    letter-spacing: 1px;
  }
  .content-r>p{
    width:100%;
    font-size: 40px;
    letter-spacing: 1px;
  }
  @media (max-width: 952px) {
    .about-section{
display: flex;
flex:2;
flex-direction: column;
margin-left:0%;
padding: 10px;

}

    .about-container{
      display: flex;
      flex-direction: column;
    }
    .about-content{
      display: flex;
      flex-direction: column;
        align-items: center;
    justify-content:center;

    }
    .contact_social_left{
      display: flex;
      align-items: center;
    justify-content:center;
    }
    .title h2{
      font-size: 30px;
    }
    .content-l>p{
       font-size: 30px;
    }
     .content-r>p{
           font-size: 15px;
     }


  }






