.about_section{
    display: flex;
    gap:5rem;
    position: absolute;
    color:var(--mid_gray);
    
}
.l-about{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    font-size: 34px;
    position:relative;
    margin-left: 100px;
    
    z-index:1000;
}
h2{
    border-bottom:var(--pink) 8px solid;
}
.r-about{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    font-size: 34px;
    padding-top: 140px;
    margin-right: 110px;
    position:relative;
   
}
.about_left_text{
    position:absolute;
    margin-top: 150px;
   

}
.about_left_text_second{
    position:relative;
    width: fit-content;
    min-width: 200px;
}


@media (max-width:952px){
 
    .about_section{
        display:flex;
        flex-direction: column;
    }
    .r-about{
        font-size: 20px;
        align-items: center;
        margin-left: 80px;
    }
    .l-about{
      
        align-items: center;
        font-size: 20px;
        margin-right:60px;
        margin-left: 60px;
        margin-bottom: -100px;
        
    }
    .about_left_text_second{
        font-size: 15px;
        margin-right: 40px;
    }
    
    
}