.containerForm {
  display: flex;
  margin-top: 4%;
  gap: 3rem;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}
.contactForm {
  display: flex;
  flex: 2;
  align-items: center;
  flex-direction: column;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 30px;
}
input {
  width: 800px;
  height: 55px;
  padding: 0 7px;
  margin-top: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

form > input:focus {
  border: 2px solid rgba(0, 206, 158, 1);
}
textarea {
  width: 800px;
  height: 300px;
  padding: 0 7px;
  margin-top: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}
textarea:focus {
  border: 2px solid rgba(0, 206, 158, 1);
}
label {
  color: white;
  margin-top: 1rem;
}
input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  background: var(--pink);
  color: var(--lightGray);
  border: none;
  font-size: 20px;
  letter-spacing: 2px;
}
.social-media-contact {
  flex: 1;
}

@media (max-width: 952px) {
  .containerForm {
    display: flex;
    flex-direction: column;
  }
  textarea {
    width: 20rem;
  }
  .contactForm {
    margin-left: 0px;
  }

  input {
    height: 4rem;
    width: 14rem;
  }
}
