.skills_body {
  display: flex;
  margin-top: 10%;
  gap: 8rem;
}
.social-media {
  margin-left: 20%;
}
.skills_container {
  display: flex;
  flex-direction: column;

  color: var(--mid_gray);
}
.skills_title {
  margin-left: 350px;
  width: 100%;
  font-size: 50px;
}
.skills_title > p {
  font-size: 50px;
  letter-spacing: 1px;
  width: 100%;
}
.skills_title > h2 {
  font-size: 60px;
  letter-spacing: 4px;
  width: 80%;
}
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 1rem;
  color: var(--white);
  font-size: 40px;
  margin-left: 280px;
  align-items: center;

  padding-bottom: 200px;
}
.skills_card {
  -moz-box-shadow: 0 7px 20px #0e0e0e;
  -webkit-box-shadow: 0 7px 20px #0e0e0e;
  box-shadow: 0 7px 20px #0e0e0e;
  position: relative;
  z-index: 1000;
  margin-left: 140px;
  margin-top: 100px;
  width: 200px;
  height: 200px;
}
.skills_card img {
  width: 100px;
  height: 100px;
  padding-left: 50px;
}

.skills_name > p {
  width: 40px;
  position: relative;
  margin-top: 50px;
  font-size: 20px;
  letter-spacing: 1px;
  padding-left: 53px;
}
.skills .long > p {
  color: var(--white);
}

@media (max-width: 952px) {
  .skills .long > p {
    margin-left: 10px;
    color: var(--white);
  }

  .skills_container {
    display: flex;
    flex-direction: column;
  }

  .skills_title {
    margin-left: 20px;
  }

  .skills_title > p {
    font-size: 13px;
    color: azure;
  }

  .skills {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .skills_card {
    border-radius: 5px;

    margin-left: 40px;
    margin-top: 90px;
    width: 250px;
    height: 250px;
    -moz-box-shadow: 0 7px 20px #0e0e0e;
    -webkit-box-shadow: 0 7px 20px #0e0e0e;
    box-shadow: 0 7px 20px #0e0e0e;
  }
  .skills_card img {
    width: 150px;
    height: 150px;
    padding-left: 50px;
    padding-top: 15px;
  }
  .skills_name {
    margin-left: 30px;
  }
  .skills_name > p {
    width: 20px;

    margin-top: 30px;
    font-size: 18px;
    text-align: center;
  }
  .skills_title > p {
    width: 210px;

    margin-top: 10px;
    font-size: 12px;
    text-align: center;
  }
  .skills_title {
    place-items: center;
    align-items: center;
    margin-left: 80px;
  }
  .social-media {
    margin-left: 0%;
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
