@import url("https://fonts.googleapis.com/css2?family=Fuggles&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;1,300&display=swap");
body {
  background-color: black;
}
.menu {
  display: flex;
  height: 10vh;

  color: white;
  align-items: center;
  font-size: 55px;
  padding: 0 20px;
  justify-content: space-between;
}
a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 1.3vw;
}

.logo p {
  color: var(--pink);
  font-family: "Fuggles", cursive;
  /* font-family: 'Lobster Two', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
}
.mobileNav {
  display: none;
}

@media (max-width: 540px) {
 
  .desktopNav {
    display: none;
  }
  .mobileNav {
    display: flex;
  }
  .mobileHamburgerMenu {
    background-color: black ;
    position: absolute;
    left: 0;
    height: 100vh;
    top: 0;
    width: 100vw;
    z-index: 9999;
  }
  .mobile-nav-menu {
    background-color: black ;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header_nav {
    background-color: black !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 10px 20px;
  }
  .header_nav a {
    list-style: none;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  .closeButton {
    background-color: black !important;
    width: 100%;
    text-align: end;
  }
  svg {
    background-color: transparent;
  }
  .landing {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  a {
    background-color: transparent;
  }
}
