.social_media_left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact_social_media {
  display: flex;
  flex-direction: column;
  font-size: 150px;
  display: flex;
  padding-top: 15%;
}

.twitter {
  color: rgb(97, 95, 98);
}
.facebook {
  color: rgb(69, 123, 127);
}
.envelope {
  color: rgb(95, 121, 67);
}
.instagram {
  color: rgb(136, 83, 89);
}

@media (max-width: 952px) {
  .contact_social_media {
    display: flex;
    font-size: 20px;
    margin-top: 300px;
    flex-direction: row;
    gap: 30px;
    font-size: 40px;
    align-items: center;
    /* margin-left: 80px; */
  }
  .contact_social_media {
  }
}
